In [20]:
import pandas as pd 
Location = "C:/Users/nikhi/Desktop/Data Visualization/python/AGN01.xlsx" 
df = pd.read_excel(Location)

In [21]:
df.head()

,Areaname,STCOU,AGN020197F,AGN020197D,AGN020197N1,AGN020197N2,AGN020202F,AGN020202D,AGN020202N1,AGN020202N2,...,AGN035197N1,AGN035197N2,AGN050197F,AGN050197D,AGN050197N1,AGN050197N2,AGN050202F,AGN050202D,AGN050202N1,AGN050202N2
0,UNITED STATES,0,0,1911859,0,0,0,2128982,0,0,...,0,0,0,931795255,0,0,0,938279056,0,0
1,ALABAMA,1000,0,41384,0,0,0,45126,0,0,...,0,0,0,8704385,0,0,0,8904387,0,0
2,"Autauga, AL",1001,0,348,0,0,0,373,0,0,...,0,0,0,104785,0,0,0,118468,0,0
3,"Baldwin, AL",1003,0,977,0,0,0,1062,0,0,...,0,0,0,165565,0,0,0,181337,0,0
4,"Barbour, AL",1005,0,417,0,0,0,531,0,0,...,0,0,0,153775,0,0,0,190815,0,0